/* BODY */

body {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding-left: -5px;
  padding-right: -5px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.octodex,
.authors {
  list-style: none; /* eliminate bullets and other default list styling*/
}

/* HEADER */

header {
  height: 25px;
  background-color: #f3f3f3;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header a {
  color: black;
  padding-left: 15px;
}

header span {
  font-weight: bolder;
  padding-left: 25px;
  display: inline-block;
}

header h1 {
  margin-top: 0;
  font-family: sans-serif;
  font-weight: 200;
  margin-bottom: 0;
  display: inline-block;
}

header ul {
  display: inline-block;
  float: right;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

header ul li {
  list-style: none;
  display: inline-block;
}

/* Big Octocat Pics */

li.octocat {
  float: left;        /* set 3 main images on one line side by side*/
  max-width: 30%;
  margin-left: 23px;
}

.octocat img {
  border: 1px solid lightgray;
}

.octodex li:nth-child(n+4) {
  margin-top: 15px;            /* set top and bottom margin for second row of images*/
  margin-bottom: 15px;
}

/* Triangle CSS from Generator*/

.octocat::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: lightgray transparent transparent transparent;
  float: right;
  position: relative;
  top: -53px;    /* bring in line with bottom of main image and set over right most icon image*/
  left: -5px;
}

/* FOOTERS*/

.image-caption span,
.image-caption a,
.image-number {
  position: relative;    /* this allows caption to be positioned along the middle of the icons instead of top*/
  top: 5px;
}

.image-footer,
.image-caption {
  display: inline-block;
}

.image-footer {
  border-bottom: 1px solid lightgray;
  width: 100%;                 /* sets border, aligns with width of parent element, sets top and bottom padding*/
  padding-top: 1px;
  padding-bottom: 8px;
  margin-top: 10px;
}

/* Image number*/

.image-number {
  color: lightgray;
}

/* Image Captions */

.image-caption{
  float: right;                /* bring this text to right side*/
  color: rgb(120, 120, 125);
}

.image-caption a {
  color: rgb(40, 38, 38);  /* changes default link color*/
}

/* Author Images */

.authors {
  float: right;       /* positions and spaces author icons*/
  padding-left: 2px;
}

.authors img {
  width: 27px;    /*sizes icons and styles corners*/
  height: 27px;
  border: none;
  border-radius: 3px;
  position: relative; /* this had to be moved back up a little because caption position was bringing it down with it*/
  top: -5px;
}

.authors img:first-child { /*gives a little spacing between author icons and captioning*/
  margin-left: 5px;
}

/* Queries */

@media (max-width: 960px) {

  li.octocat {
    float: left;        /* set 2 main images on one line side by side*/
    max-width: 45%;
    margin-left: 23px;
  }

  .octodex li:nth-child(n+3) {
    margin-top: 15px;            /* set top and bottom margin for second row of images*/
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  li.octocat {
    float: left;        /* set to one single column for smaller devices*/
    max-width: 90%;
    margin: 10px auto;
  }
}
