/* BODY */

body {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding-top: 12px;
  padding-left: -5px;
  padding-right: -5px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.octodex,
.authors {
  list-style: none;
}

/* Big Octonaut Pics */

li.octocat {
  float: left;
  max-width: 30%;
  margin-left: 23px;
}

.octocat img {
  display: inline-block;
  border: 1px solid lightgray;
}

/* Triangle CSS from Generator*/

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: lightgray transparent transparent transparent;
  float: right;
  position: relative;
  top: -3px;
  left: -5px;
}

/* FOOTERS*/

.image-caption span,
.image-caption a,
.image-number {
  position: relative;
  top: 5px;
}

.image-footer,
.image-caption {
  display: inline-block;
}

.image-footer {
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 10px;
  vertical-align: bottom;
}

/* Image number*/

.image-number {
  color: lightgray;
}

/* Image Captions */

.image-caption{
  float: right;
  color: rgb(120, 120, 125);
}

.image-caption a {
  color: rgb(40, 38, 38);
}

/* Author Images */

.authors {
  float: right;
  padding-left: 2px;
}

.authors img {
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 3px;
  position: relative;
  top: -5px;
}

.authors img:first-child {
  margin-left: 5px;
}
